:root{
    --primary-color: #ffdd00;
    --secondary-color: #915502;
    --accent-color: #FCF9BE;
    --bg-color: #FAF7F2;
    --text-dark: #2B2B2B;
    --text-light: #FFFFFF;
}
body {
    background-color: var(--bg-color);
    color: var(--text-dark);
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    background-color: var(--primary-color) !important;
}

.navbar-brand,
.nav-link {
    color: var(--text-dark) !important;
}

.nav-link:hover {
    color: var(--secondary-color) !important;
}
body {
  background-color: #f8f9fa;
}


.genre-section {
  min-height: 350px;
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 10px;


  background: linear-gradient(to right, #ccefff, #eaf8ff);
  transition: background 0.6s ease;
}


.genre-list ul {
  list-style: none;
  padding-left: 0;
}

.genre-list li {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.3s;
}

.genre-list li:hover {
  color: #000;
}

.book-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  margin-bottom: 20px;
  text-align: center;
}

.book-card h5 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.book-card p {
  color: #777;
  font-size: 0.9rem;
}

.hero-section {
  min-height: 120px;
  display: flex;
  align-items: center;
  padding: 40px 60px;
  margin-top: 30px;
  margin-bottom: 10px;

  background:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      #ae8682 45%,
      #9d5353 100%
    ),
    url("/Images/pexels-ellusionist-19015217.jpg");

  background-size: cover;
  background-position: left center;
  border-radius: 16px;
}

.hero-content {
  margin-left: auto;
  max-width: 500px;
  font-family:'Playfair Display', serif;
  font-style: italic;
}
.foot{
    width:auto;
    height:250px;
    background-color: #ffdd00;
    margin-top: 30px;
    padding: 40px 60px 20px;
  color: #000000;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer-brand h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.footer-brand p {
  font-size: 0.95rem;
  max-width: 320px;
  opacity: 0.85;
}

.footer-links h5,
.footer-social h5 {
  font-size: 1.1rem;
  margin-bottom: 12px;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}


.footer-links a,
.footer-social a {
  text-decoration: none;
  color: #000000;
  font-size: 0.95rem;
  transition: 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #545454;
}

.footer-bottom {
  font-size: 0.85rem;
  color:#000;
  margin-top: 10px;
}


